/* Declare some variables for CSS */
:root {

    /* Website fonts */

    /*    Titles     */ --poppins:         "Poppins",         sans-serif;
    /*  Normal text  */ --source-sans-pro: "Source Sans Pro", sans-serif;   

    /* Colors */

    /* A nice, warm(ish) yellow |   Turbo Yellow   */
    --yellow: 255, 225, 0;

    /* A deep, near-black grey  |     Cod Grey     */
    --grey: 23, 23, 23;

    /* A tad shade lighter      |  Mine Shaft Grey */
    --light-grey: 48, 48, 48;

    /* A dark, sharp violet     |  Electric Violet */
    --violet: 170, 0, 200;

    /* A deep, pinkish red      |     Monza Red    */
    --red: 189, 0, 57;

    /* Some constant variables */
    --animation-speed: 5s

}

html, body {

    margin: 0;
    overflow-x: hidden;

}

/* Hidden scrollbar */
::-webkit-scrollbar { display: none; }

/* Basic text setups */
p.text {

    /* Don't have the text all the way to the left */
    margin: 10px;

    /* Set a good font */
    font-family: var(--source-sans-pro);

    /*  Align text to center */
    text-align: center;

}

p.big { font-size: 200%; }

p.center { position: relative; right: 0vw; }

p.white { color: white; }

p.hidden {
    
    animation: 3s fade_in;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

@keyframes fade_in {

    0% { opacity: 0; }
    100% { visibility: visible; opacity: 1; }

}

p.spaced {

    padding-bottom: 10%;

}

/* ------------------------------------------------------------------------------------------------------ */

/* ANIMATED BACKGROUND */

/* Opening divider */
.opener {

    /* Align it properly */
    height:        100%;
    position:  absolute;
    top:            0px;
    right:          0px;
    left:           0px;
    z-index:         -1;

    /* Gradient background, slightly darkened */
    background: linear-gradient(55deg, rgba(var(--red), 0.9), rgba(var(--violet), 0.9));
    
    /* Make sue to cover the whole page */
    background-size: 200% 100%;

    /* Set a background color */
    background-color: rgb(var(--grey));

    /* Make text in this divider white -- contrasts nicely with background */
    color: white;

    /* Animate the gradient! */
    -webkit-animation: background var(--animation-speed) ease infinite;
    -moz-animation:    background var(--animation-speed) ease infinite;
    -o-animation:      background var(--animation-speed) ease infinite;
    animation:         background var(--animation-speed) ease infinite;

    min-height: calc(60vh + 60px);

}

/* Gradient animation, Webkit */
@-webkit-keyframes background {

    0%   { background-position: 0% 50%;   }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%;   }

}

/* Gradient animation, Mozilla */
@-moz-keyframes background {

    0%   { background-position: 0% 50%;   }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%;   }

}

/* Gradient animation, Opera */
@-o-keyframes background {

    0%   { background-position: 0% 50%;   }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%;   }

}

/* Gradient animation */
@keyframes background {

    0%   { background-position: 0% 50%;   }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%;   }

}

/* ------------------------------------------------------------------------------------------------------ */

/* Headings & titles */
.heading {

    /* Add a space between navigation bar and title */
    margin-top: 200px;

    /*  Align heading to center */
    text-align: center;

    /* Set a good font */
    font-family: var(--poppins);

    /* Make it BIG! */
    font-size: 550%;

    /* Make sure it's not too light */
    opacity: 100%;

    /* Other stuff for animation */
    position: relative;
    top: 50%;  
    width: 8.9em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 2s steps(40) 1s 1 normal both, blinkTextCursor 500ms steps(10) infinite normal;

}

@keyframes typewriter{
  from { width: 0; }
  to { width: 8.9em; }
}
@keyframes blinkTextCursor{
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}

/* ------------------------------------------------------------------------------------------------------ */

/* NAVIGATION BAR */

/* Naviigation bar background */
.nav-bar {

    background-color:         rgba(var(--grey), 0.5);
    overflow:                                 hidden;
    position:                                  fixed;
    z-index:                                      10;
    font-family:                      var(--poppins);
    border-radius:                              50px;
    margin:                                     20px;
    width:                                    97.5vw;
    text-shadow:  2px 2px 5px rgb(var(--light-grey));

}

/* Navigation bar buttons */
.nav-bar a {

    float:           right;
    display:         block;
    color:         white;
    text-align:     center;
    padding:     15px 55px;
    text-decoration:  none;
    font-size:        17px;
    position:     relative;
    top:              17px;
    right:            15px;
    border-radius:    50px;
    overflow:       hidden;

    text-shadow:  2px 2px 5px rgb(var(--light-grey));

}

.nav-bar a.nonactive {

    float:           right;
    display:         block;
    color:         white;
    text-align:     center;
    padding:     15px 55px;
    text-decoration:  none;
    font-size:        17px;
    position:     relative;
    top:              17px;
    right:            15px;
    border-radius:    50px;

}


#nav-bar .nav-icon {

    display: block;
    padding: 15px;
    float: left;

}

#nav-bar .name {

    float:            left;
    display:         block;
    color:         white;
    text-align:     center;
    padding:          15px;
    font-size:        17px;
    font-style:     italic;
    position:     absolute;
    left:               4%;

}

/* Navigation bar hover stylization for buttons*/
.nav-bar a:hover {

    background-color:   rgba(var(--light-grey), 0.3);
    color:                                   white;
    text-shadow:  1px 1px 8px rgb(var(--grey));

}

/* Currently selected buttons */
.nav-bar a.active {

    background-color:    rgb(var(--grey), 0.7);
    color:                        white;
    border:  3px solid rgb(var(--violet));
    position:                    relative;
    top:                             14px;

}

/* Hide links */
.nav-bar .icon {

    display: none;

}

/* When screen is too small, hide links */
@media screen and (max-width: 600px) {

    .nav-bar a:not(:first-child) { display: none; }

    .nav-bar a.icon {

      float: right;
      display: block;

    }

}

/* Set the currently selected button to "current" */
@media screen and (max-width: 600px) {
    .nav-bar.responsive { position: relative; }

    .nav-bar.responsive a.icon {

      position: absolute;
      right: 0;
      top: 0;

    }

    .nav-bar.responsive a {

      float: none;
      display: block;
      text-align: left;

    }
}

/* ------------------------------------------------------------------------------------------------------ */

/* AFTER OPENER SLANT */

.opener, .site-stuff {

    min-height: 75vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.opener::before{

    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    border-bottom: 60px solid rgb(var(--grey));
    border-left: 100vw solid transparent;

}

/* ------------------------------------------------------------------------------------------------------ */

/* NORMAL SITE STUFF */

#subheading { right: 20vw; }

.site-stuff {

    background: rgb(var(--grey));
    flex-direction: column;

}